<!DOCTYPE html>
<html>
    <head>
        <title>Flask web app</title>
    </head>
    <body>
        <div style="text-align: center;">
            <h1>Yaswanth Janardhan Konduru</h1>
            <h1>1001741845</h1>
        </div>
        <div style="text-align: center;">
            <ul>
                    <li>Name={{ row_values[0] }}</li>
                    <li>State={{ row_values[1] }}</li>
                    <li>Salary={{ row_values[2] }}</li>
                    <li>Grade={{ row_values[3] }}</li>
                    <li>Room={{ row_values[4] }}</li>
                    <li>Telnum={{ row_values[5] }}</li>
                    <li>Picture={{ row_values[6] }}</li>
                    <li>Keywords={{ row_values[7] }}</li>
            </ul>
        </div>
    </body>
</html>