<!DOCTYPE html>
<html>
    <head>
        <title>Flask web app</title>
    </head>
    <body>
        <div style="text-align: center;">
            <h1>Yaswanth Janardhan Konduru</h1>
            <h1>1001741845</h1>
        </div>
        <div style="text-align: center;">
            <ul>
                    <li>Name={{ salary[0] }}</li>
                    <li>State={{ salary[1] }}</li>
                    <li>Salary={{ salary[2] }}</li>
                    <li>Grade={{ salary[3] }}</li>
                    <li>Room={{ salary[4] }}</li>
                    <li>Telnum={{ salary[5] }}</li>
                    <li>Picture={{ salary[6] }}</li>
                    <li>Keywords={{ salary[7] }}</li>
            </ul>
        </div>
    </body>
</html>